<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="traffic_racer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="traffic_racer.Properties.Settings.puanConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\puan.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <traffic_racer.Properties.Settings>
            <setting name="aracno" serializeAs="String">
                <value />
            </setting>
            <setting name="aktarilacakbilgiler1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="aktarilacakbilgiler2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="aktarilacakbilgiler3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="aktarilacakbilgiler4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="aktarilacakbilgiler5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="aktarilacakbilgilerpolis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rakippuani" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rakipyol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="benad" serializeAs="String">
                <value />
            </setting>
            <setting name="rakipad" serializeAs="String">
                <value />
            </setting>
            <setting name="sonucsure" serializeAs="String">
                <value />
            </setting>
            <setting name="sonucduruma" serializeAs="String">
                <value />
            </setting>
            <setting name="sonucdurumb" serializeAs="String">
                <value />
            </setting>
            <setting name="sonucpuan" serializeAs="String">
                <value />
            </setting>
            <setting name="rakiparaci" serializeAs="String">
                <value />
            </setting>
        </traffic_racer.Properties.Settings>
    </userSettings>
</configuration>